/icon/fb_icon.svg
/icon/GitHub_icon.png
/icon/Linkedin_icon.png
/icon/hamburger_icon.svg
/icon/python.png
/icon/pytorch.jpeg
/icon/powerbi.png
/icon/mysql.png
/icon/github.png
/icon/html.png
/icon/javascript.png
/icon/linux.png
/icon/nlp.png
/icon/vscode.png
/icon/llm.jpg
/icon/git.png
/icon/css.png
/icon/bash-sh.jpg
/icon/bootstrap.png
/icon/jupyter-nb.png