.main_container section {
    padding: 20% 8% 30% 8%;
}

.title {
    display: flex;
}

.content {
    padding: 10px 0px 0px 15px;
}

.deco-line {
    display: block;
    border-left: 5px solid #FA7F08;
    margin-right: 10px;
}

.container .title > h2 {
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 10;
    width: 50%;
}

.content .item *{
    padding-top: 10px;
}

.content .item h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #12100f;
}

.content .item h3:first-child {
    padding-top: 60px;
}

.content > h3 {
    font-size: 1.5rem;
    padding: 0px;
}

.content > h3:first-child {
    padding-top: 30px;
}



/* aboutme area */
.item.aboutme > h3:first-child {
    font-size: 1.8rem;
    padding: 15px 0px 10px 0px;
}


/* myinfo area */
.content .item.myinfo {
    list-style-type: disc;
    padding-left: 20px;
    padding-top: 15px;
}

.item.myinfo li {
    padding-bottom: 20px;
}


/* experience area*/
.content > .item.experiences {
    display: flex;
}

.item.experience.work, .item.experience.school {
    padding: 30px 0px 30px 10px;
}

#experience-title1, #experience-title2, #experience-title3 {
    padding: 0px 0px 15px 0px;
}

.item.experiences > .deco-item {
    border-left: 5px solid grey;
    margin: 20px 10px 20px 10px;
}


/* skills area */
.item.skills {
    display: flex;
    flex-direction: column;
    width: 270px;
    margin: 15px 0px 80px 12px;
}

.skill.icon-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
}

#skills .skill-icon {
    height: 80px;
    width: 80px;
    padding: 0px;
    margin-top: 20px;
    margin-right: 10px;
    background-size: cover;
    background-position: center;
}



