.main_container section {
    padding: 50px 50px 80px 50px;
}

.title {
    display: flex;
}

.deco-line {
    display: block;
    border-left: 5px solid #FA7F08;
    margin-right: 10px;
}

.container .title > h2 {
    font-size: 1.8rem;
    font-weight: bold;
    z-index: 10;
    width: 40%;
}

.container .item *{
    padding-top: 10px;
}

.container .item h3 {
    font-size: 1.2rem;
    font-weight: bold;
    color: #12100f;
}

.container .item h3:first-child {
    padding-top: 60px;
}

.item.aboutme > h3:first-child {
    font-size: 1.8rem;
    padding: 15px 0px 10px 0px;
}

.item.aboutme, .item.myinfo {
    padding: 20px 0px 0px 15px
}

.item.myinfo li {
    padding-bottom: 10px;
}

#experience > .item.experiences {
    display: flex;
}

.item.experiences.work, .item.experiences.school {
    padding: 30px 0px 30px 10px;
}

#experience-title1, #experience-title2, #experience-title3 {
    padding: 0px 0px 15px 0px;
}

.item.experiences > .deco-item {
    border-left: 5px solid grey;
    margin: 20px 10px 20px 10px;
}

#experience > h3 {
    font-size: 1.5rem;
    padding: 0px
}

#experience > h3:nth-child(2) {
    padding-top: 30px;
}

.skills.ML > h3:first-child {
    padding-top: 15px;
}

.interest.ML > h3:first-child {
    padding-top: 15px;
}

