*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    height: 100vh;
}

.page {
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    height: 70vh;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(https://picsum.photos/300/200/?random=10);
    background-position: center;
    background-size: cover;
    opacity: 0.4;
    z-index: -1; 
}

header > h1 {
    font-size: 2rem;
    text-align: left;
    padding-left: 30px; 
}

header > h3 {
    font-size: 1.5rem;
    padding-top: 20px;
    text-align: left;
    padding-left: 30px; 
}

.container.socialmedia {
    height: 60px;
    display: flex;
    padding: 20px 10px 0px 30px;
}

div.socialmedia .item {
    width: 30px; 
    height: 30px; 
    background-size: cover; 
    margin-right: 10px;
    display: inline-block; 
}

.item.fb {
    background-image: url('/fb_icon.svg');
}

.item.linkedin {
   background-image: url('/Linkedin_icon.png');
}

.item.github {
    background-image: url('/GitHub_icon.png');
}

footer {
    color: white;
    text-align: left;
    background-color: darkslategrey;
    box-sizing: border-box;
    height: 80px;
    width: 100vw;
    display: flex;
    align-items: center;

}

footer > h2 {
    font-size: 1rem;
    padding-left: 30px;    
}